/*<---------- 헤더 --------------->*/
.header_wrapper {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: #fff;
}

.header_wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("@site/static/img/remix_rumble.png");
  filter: brightness(0.35);
  background-size: 100% 100%;
}

.header_img {
  max-width: 100%;
  height: auto;
  margin-bottom: 2.5rem;
}

.header_button {
  background: linear-gradient(180deg,#E76590 0%,#953BDB 100%);
  color: #fff;
}

.header_button:hover {
  background: linear-gradient(180deg,#C55380 0%,#8133BB 100%);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.zIndex1 {
  z-index: 1;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}
